.masthead {
  &__menu {
    &.greedy-nav {
      .visible-links {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-right: 2rem;
        
        li.masthead__menu-item {
          padding: 1em 0 1em 2em;
          
          &:first-child {
            padding-left: 1em;
          }
        }
      }
    }
  }
} 