.masthead__menu {
  &.greedy-nav {
    .visible-links {
      justify-content: flex-start;
      
      li.masthead__menu-item {
        padding-right: 2em;  // Add some spacing between items
      }
    }
  }
}

.main-content a,
.main-content .publication-links a {
  color: #007bff !important;
} 