---
layout: archive
---

I am a research assistant in the department of Computer Science at 
<a href="https://www.purdue.edu">Purdue University</a>
, working on computer security and system security in 
<a href="https://pursec.cs.purdue.edu">PurSec Lab.</a>
Specifically, my research focus is Android security, security and safety of automated systems, and deep learning applications in security. 
I received my M.S and B.S from Computer Engineering department at 
<a href="https://www.metu.edu.tr">METU</a>
 in 2020 and 2017, respectively.
<br>
Previously, I worked at 
<a href="https://www.comodo.com">Comodo</a>
, evaluating the malware classification. I also interned at SAP and eNTERFACE'15 when I was undergrad.

<hr>

<div class="timeline-area">
  <div class="container">
    <div class="timelines">
      <h2>Timelines</h2>
    </div>
    <div class="all-timelines">
      <!--SINGLE TIMELINE-->
      <div class="single-timeline d-flex-2">
        <div class="timeline-blank"></div>
        <div class="timeline-text d-flex-2">
          <span>
            <h6>July 2022</h6> — Will updated!
          </span>
          <div class="t-square"></div>
        </div>
      </div>
    </div>
  </div>