---
layout: archive
---
<div class="timeline-title">
  I am a research assistant in the department of Computer Science at 
  <a href="https://www.purdue.edu">Purdue University</a>
  , working on computer security and system security in 
  <a href="https://pursec.cs.purdue.edu">PurSec Lab.</a>
  I received my M.S and B.S from Computer Engineering department at 
  <a href="https://www.metu.edu.tr">METU</a>
  in 2020 and 2017, respectively.
  <br>
  <br>
  Previously, I worked at 
  <a href="https://www.comodo.com">Comodo</a>
  , evaluating the malware classification. I also interned at 
  <a href="https://www.sap.com/index.html">SAP</a>
  and 
  <a href="https://deepai.org/publication/proceedings-of-enterface-2015-workshop-on-intelligent-interfaces">eNTERFACE'15</a>
  when I was undergrad.
  <br>
  <br>
  I am actively working on android security and privacy, safety and security of automated systems, malware analysis, and practical deep learning applications in security.
</div>


<hr>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody><tr>
    <td style="padding:2.5% 2.5% 0% 2.5%;width:100%;vertical-align:middle">
      <h2><b>Updates</b></h2>
    </td>
  </tr>
</tbody></table>
<div class="timeline">
  <div class="timeline-news">
    <div class="timeline-item">
      <div class="timeline-date">
        <div class="timeline-dot" style="background-color: #6495ED;"></div>
        <span style="background-color: #6495ED;">Sep 2022</span>
        <p class="timeline-title">I presented a demo to Sandia Labs.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-date">
        <div class="timeline-dot" style="background-color: #6495ED;"></div>
        <span style="background-color: #6495ED;">Jul 2022</span>
        <p class="timeline-title">I submitted my first Bug Report to Google!</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-date">
        <div class="timeline-dot" style="background-color: #6495ED;"></div>
        <span style="background-color: #6495ED;">May 2022</span>
        <p class="timeline-title">I started interning at Sandia Labs.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-date">
        <div class="timeline-dot" style="background-color: #6495ED;"></div>
        <span style="background-color: #6495ED;">Aug 2021</span>
        <p class="timeline-title">I started my PhD at <a href="https://www.purdue.edu" target="_blank">Purdue University</a>.</p>
      </div>
    </div>
  </div>
</div>
<hr>